#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#clock {
    height: 20%;
    display: grid;
    grid-template-columns: 10px 50px 10px;
    grid-template-rows: 10px 50px 10px 50px 10px;
}

.fill {
    background-color: black;
}

