@font-face {
    font-family: digitalClock;
    src: url(digital-7.ttf);
  }

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#clock {
    font-size: 54;
    font-family: digitalClock;
}

